.contexts-dropdown {
    float: left;
    width: 50%;
    height: 34px;
    line-height: 34px;
    font-weight: bold;
}

.projects-dropdown {
    float: right;
    display: block;
    text-align: right;
    height: 34px;
    line-height: 34px;
    font-weight: bold;

}
