.contexts-dropdown {
    float: left;
/*
    width: 15%;
*/
    height: 34px;
    line-height: 34px;
    font-weight: bold;
}

/* setting a width causes the button group to break into two when
 * resizing to a smaller screen
.btn-group-importance {
    width: 25%;
}
*/

#importance-list .btn-group, #urgency-list .btn-group {
    /* this removes the 1 pixel addition at the top when you drag
     * the screen larger so that Search moves up to the same line
     */
    vertical-align: top;
}

.btn-group-importance button.btn-default:focus {
    border-color: blue;
}


.search {
    // too wide for mobile
    // min-width: 320px;
    height: 34px;
    line-height: 34px;
    font-weight: bold;
    // without this it forces the projects menu to the next line
    display: inline-block;
}

/*
.btn-group-urgency {
    width: 25%;
}
*/

.btn-group-urgency button.btn-default:focus {
    border-color: blue;
}

.projects-dropdown {
    float: right;
    display: block;
    text-align: right;
    height: 34px;
    line-height: 34px;
    font-weight: bold;
    vertical-align: top;
}

.projects-dropdown button {
    // have to override the button's float: left to make the whole thing
    // float left
    float: right;
}

// color the active context/project selections
.dropdown-menu li.active > a,
.dropdown-menu li.active > a:hover,
.dropdown-menu li.active > a:focus {
  background-image: none;
// FIXME: how to make this reference work?
//  background-color: @btn-primary-bg;
  background-color:  #428bca;

}
