<bp-table
  class="br"
  bp-scroll
  ng-if="!br.length"
  ng-controller="ProgressCtrl"
  src="'views/br.zero.html'"
  ng-include>
</bp-table>

<bp-table
  ng-if="br.length"
  bp-scroll
  bp-scroll-sticky
  class="br">
  <bp-table-header
    ng-repeat-start="day in br track by $index"
    ng-pluralize
    count="day.offset"
    when="{
     '0': 'This week',
     'one': 'Next week',
     'other': &quot;Calendar Week {{ day[0].due | date : 'w' }}&quot;
    }">
  </bp-table-header>
  <bp-cell
    thing-cell
    class="thing-cell-animation"
    ng-class="{done: thing.complete == 100}"
    ng-repeat-end
    ng-repeat="thing in day track by thing.id"
    ui-sref="brThing({id:thing.id})"
    swipe-right="setDone(thing)"
    swipe-left="convertToInbox(thing)"
    swipe-long-right="setDeleted(thing)"
    swipe-long-left="convertToMit(thing)">
    <div class="content">
      <bp-action ng-if="thing.overdue" class="bp-icon fa-clock-o" aria-label="Overdue"></bp-action>
      <div class="title">{{ thing.title }}</div>
      <time datetime="{{ thing.date | date : 'yyyy-MM-dd hh:mm' }}">{{ thing.date | date : 'MMM d, h:mm' }}</time>
      <div class="description" ng-if="thing.description">{{ thing.description }}</div>
    </div>
  </bp-cell>
</bp-table>

<bp-tabbar class="br">
  <bp-tab ui-sref="lists" bp-tab-icon="fa-list-ol" bp-tab-title="lists"></bp-tab>
  <bp-tab ui-sref="inbox" bp-tab-icon="fa-inbox"></bp-tab>
  <bp-tab ui-sref="br" bp-tab-icon="fa-calendar"></bp-tab>
</bp-tabbar>
