<bp-navbar-config>
  <bp-action ui-sref="account" class="bp-icon fa-fw fa-user">
    Account
  </bp-action>
</bp-navbar-config>

<form ng-submit="newThing()" name="thingInput">
  <bp-search>
    <input
      type="search"
      ng-model="thingTitle"
      placeholder=" Enter your thing here">
  </bp-search>
</form>

<div>
  <span>
    <span tag-list ng-controller="TagListCtrl as cl" type="context" all="true" data="contexts" active="contexts"></span>
    <span id="importance-list" number-list ng-controller="NumberListCtrl as il" type="importance" all="true" data="importance" active="importance" multiple="true"></span>
  </span>

  <span>
    <div class="search">
      <input type="text" class="form-control" placeholder="Search" ng-model="searchString">
    </div>
  </span>

  <span>
    <span id="urgency-list" number-list ng-controller="NumberListCtrl as ul" type="urgency" all="true" data="urgency" active="urgency" multiple="true"></span>

    <span tag-list ng-controller="TagListCtrl as pl" type="project" all="true" data="projects" active="projects"></span>
  </span>

</div>

<bp-table
  class="inbox"
  bp-scroll
  ng-if="!inbox.length"
  ng-controller="ProgressCtrl"
  src="'views/inbox.zero.html'"
  ng-include>
</bp-table>

<bp-table
  ng-if="inbox.length"
  bp-scroll
  bp-scroll-sticky
  class="inbox">

  <!-- bp-table-header is part of the table and scrolls away
       but inboxFound's scope is limited -->
  <bp-table-header>
    {{ inboxFound.length }} things
  </bp-table-header>


  <bp-cell
    thing-cell
    class="thing-cell-animation"
    ng-repeat="thing in inboxFound = (inbox | filter:notRecentlyCompleted | filter:filterByTag | filter:filterByNumber | filter:{title: searchString}) track by thing.id"
    swipe-right="convertToBr(thing)"
    swipe-left="convertToMit(thing)"
    swipe-long-right="setDeleted(thing)"
    swipe-long-left="setDone(thing)">
    <div class="content">
      <div class="complete">
        <span ng-if="thing.recurrence" ng-class="{ 'repeat-fade': completed }" class="repeat">
          <i class="glyphicon glyphicon-repeat" ng-click="setComplete(thing); completed = !completed;"></i>
        </span>
        <span ng-if="!thing.recurrence">
          <i class="glyphicon glyphicon-check" ng-class="{ true: 'unchecked' }[thing.complete != 100]" ng-click="setComplete(thing)"></i>
        </span>
      </div>
      <div class="title" ui-sref="inboxThing({id:thing.id})">
        {{ thing.title }}
      </div>
      <div class="recurrence"><span ng-if="thing.recurrence">every {{ thing.recurrence | duration }}</span></div>
      <time ng-if="thing.end" datetime="{{ thing.end | date : 'yyyy-MM-dd' }}">done {{ thing.end | date : 'MMM d yyyy' }}</time>
      <time ng-if="thing.due && !thing.end" datetime="{{ thing.due | date : 'yyyy-MM-dd' }}">due {{ thing.due | date : 'MMM d yyyy' }}</time>
      <div class="description" ng-if="thing.description">{{ thing.description }}</div>
      <div class="contexts" ng-if="thing.contexts">
        <b ng-repeat="context in thing.contexts">@{{context}}{{$last ? '' : ', '}}</b>
      </div>
      <div class="importance" ng-if="thing.importance">
        I:{{thing.importance}}
      </div>
      <div class="urgency" ng-if="thing.urgency">
        U:{{thing.urgency}}
      </div>
      <div class="projects" ng-if="thing.projects">
        <b ng-repeat="project in thing.projects">p:{{project}}{{$last ? '' : ', '}}</b>
      </div>
    </div>
  </bp-cell>
</bp-table>

<form ng-if="saveListActive" ng-submit="saveList(thingList); saveListActive = false;" name="listInput">
  <bp-search>
    <input
      ng-model="thingList"
      placeholder=" Enter your list name here">
  </bp-search>
</form>

<bp-toolbar>
  <bp-action ng-click="saveListActive = !saveListActive" class="bp-icon fa-save">First
  </bp-action>
</bp-toolbar>

<bp-tabbar tab-bar class="inbox">
</bp-tabbar>
