<bp-navbar-config>
  <bp-action ui-sref="account" class="bp-icon fa-fw fa-user">
    Account
  </bp-action>
</bp-navbar-config>

<form ng-submit="newTask()" name="taskInput">
  <bp-search>
    <input
      type="search"
      ng-model="taskTitle"
      placeholder=" Enter your task here">
  </bp-search>
</form>

  <div>
  <span>
    <span tag-list ng-controller="TagListCtrl as cl" type="context" all="true" data="contexts" active="contexts"></span>
    <span number-list ng-controller="NumberListCtrl as il" type="importance" all="true" data="importance" active="importance" multiple="true"></span>

    <div class="search">
      <input type="text" class="form-control" placeholder="Search" ng-model="searchString">
    </div>
    <span number-list ng-controller="NumberListCtrl as ul" type="urgency" all="true" data="urgency" active="urgency" multiple="true"></span>

    <span tag-list ng-controller="TagListCtrl as pl" type="project" all="true" data="projects" active="projects"></span>


  </span>
  </div>

<bp-table
  class="inbox"
  bp-scroll
  ng-if="!inbox.length"
  ng-controller="ProgressCtrl"
  src="'views/inbox.zero.html'"
  ng-include>
</bp-table>

<bp-table
  ng-if="inbox.length"
  bp-scroll
  bp-scroll-sticky
  class="inbox">

  <bp-table-header><!--Tasks--></bp-table-header>


  <bp-cell
    task-cell
    class="task-cell-animation"
    ng-repeat="task in inboxFound = (inbox | filter:notRecentlyCompleted | filter:filterByTag | filter:filterByNumber | filter:{title: searchString}) track by task.id"
    swipe-right="convertToBr(task)"
    swipe-left="convertToMit(task)"
    swipe-long-right="setDeleted(task)"
    swipe-long-left="setDone(task)">
    <div class="content">
      <div class="complete">
        <span ng-if="task.recurrence" ng-class="{ 'repeat-fade': completed }" class="repeat">
          <i class="glyphicon glyphicon-repeat" ng-click="setComplete(task); completed = !completed;"></i>
        </span>
        <span ng-if="!task.recurrence">
          <i class="glyphicon glyphicon-check" ng-class="{ true: 'unchecked' }[task.complete != 100]" ng-click="setComplete(task)"></i>
        </span>
      </div>
      <div class="title" ui-sref="inboxTask({id:task.id})">
        {{ task.title }}
      </div>
      <time datetime="{{ task.due | date : 'yyyy-MM-dd hh:mm' }}" ng-show="task.due">due {{ task.due | date : 'MMM d yyyy, h:mm' }}</time>
      <div class="description" ng-if="task.description">{{ task.description }}</div>
      <div class="contexts" ng-if="task.contexts">
        <b ng-repeat="context in task.contexts">@{{context}}{{$last ? '' : ', '}}</b>
      </div>
      <div class="importance" ng-if="task.importance">
        I:{{task.importance}}
      </div>
      <div class="urgency" ng-if="task.urgency">
        I:{{task.urgency}}
      </div>
      <div class="projects" ng-if="task.projects">
        <b ng-repeat="project in task.projects">p:{{project}}{{$last ? '' : ', '}}</b>
      </div>
    </div>
  </bp-cell>
</bp-table>

<form ng-if="saveListActive" ng-submit="saveList(taskList); saveListActive = false;" name="listInput">
  <bp-search>
    <input
      ng-model="taskList"
      placeholder=" Enter your list name here">
  </bp-search>
</form>

<bp-toolbar>
  <bp-action ng-click="saveListActive = !saveListActive" class="bp-icon fa-save">First
  </bp-action>
</bp-toolbar>

<bp-tabbar tab-bar class="inbox">
</bp-tabbar>
