<bp-table
  class="lists"
  bp-scroll
  ng-controller="ProgressController"
  src="'views/lists.zero.html'"
  ng-include>
</bp-table>

<bp-table
  ng-controller="ListsListController"
  bp-scroll
  bp-scroll-sticky
  class="lists">
  <bp-cell
    class="thing-cell-animation"
    ng-repeat-end
    ng-repeat="list in lists track by list.id"
    ui-sref="things({query:list.query})"
    >
    <div class="content">
      <div class="title">{{ list.title }}</div>
    </div>
  </bp-cell>
</bp-table>

<bp-tabbar tab-bar class="lists">
</bp-tabbar>
