<bp-navbar-config>
  <bp-action ui-sref="account" class="bp-icon fa-fw fa-user">
    Account
  </bp-action>
</bp-navbar-config>

<form ng-submit="newThing()" name="thingInput">
  <bp-search>
    <input
      type="search"
      ng-model="thingTitle"
      placeholder=" Enter your thing here">
  </bp-search>
</form>

<!-- div for tags/number lists -->
<div ng-if="filterActive">
  <span>
    <span tag-list ng-controller="TagListController as cl" type="context" all="true" data="contexts" active="contexts"></span>
    <span tag-list ng-controller="TagListController as pl" type="project" all="true" data="projects" active="projects"></span>
  </span>

  <span>
    <span id="importance-list" number-list ng-controller="NumberListController as il" type="importance" all="true" data="importance" active="importance" multiple="true"></span>
    <span id="urgency-list" number-list ng-controller="NumberListController as ul" type="urgency" all="true" data="urgency" active="urgency" multiple="true"></span>
  </span>
</div>

<div>
  <span>
    <div class="search" ng-if="filterActive">
      <input type="text" class="form-control" placeholder="Search" ng-model="searchString">
    </div>
  </span>

  <!-- div for by due date filter -->
  <div class="btn-group due-dropdown" ng-if="sortActive" dropdown ng-class="{open: dueOpen}">

    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" ng-click="dueOpen=!dueOpen">
      By Due date: {{ dueSelect }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-class="{ active: dueSelect == 'all' }">
        <a href="" ng-click="dueSelect = 'all'">All</a></li>
      <li ng-class="{ active: dueSelect == 'overdue' }">
        <a href="" ng-click="dueSelect = 'overdue'">Overdue</a></li>
      <li ng-class="{ active: dueSelect == 'today' }">
        <a href="" ng-click="dueSelect = 'today'">Due Today</a></li>
      <li ng-class="{ active: dueSelect == 'due' }">
        <a href="" ng-click="dueSelect = 'due'">Due</a></li>
      <li ng-class="{ active: dueSelect == 'no' }">
        <a href="" ng-click="dueSelect = 'no'">No Due Date</a></li>
    </ul>

  </div>

  <!-- span for sort options; pull sort options to the right -->
  <span id="sort-options" ng-if="sortActive" class="pull-right">
    <span id="importance-order" order ng-controller="OrderController as io" type="importance" label="I"></span>
    <span id="urgency-order" order ng-controller="OrderController as uo" type="urgency" label="U"></span>
    <span id="title-order" order ng-controller="OrderController as to" type="title" label="Title"></span>
    <span id="due-order" order ng-controller="OrderController as do" type="due" label="Due"></span>
  </span>
</div>

<bp-table
  class="things"
  bp-scroll
  ng-if="!things.length"
  ng-controller="ProgressController"
  src="'views/things.zero.html'"
  ng-include>
</bp-table>

<!-- FIXME: this table's ng-repeat is in our controller's scope; the one
            inside bp-table below isn't, so that thingsFound is not
            available in ThingsController -->
<table>
<tr
    ng-repeat="thing in (thingsFound = (things | filter:notRecentlyCompleted | filter:filterByTag | filter:filterByNumber | filter:{title: searchString} | filter:filterByDueSelector | orderBy:predicate | limitTo: 50)) track by thing.id"
</tr>
</table>


<bp-table
  ng-if="things.length"
  bp-scroll
  bp-scroll-sticky
  class="things">

  <!-- bp-table-header is part of the table and scrolls away
       but thingsFound's scope is limited -->
  <bp-table-header>
    showing {{ thingsFound.length }} of {{ things.length }} things
  </bp-table-header>


  <bp-cell
    thing-cell
    class="thing-cell-animation"
    ng-repeat="thing in (thingsFound = (things | filter:notRecentlyCompleted | filter:filterByTag | filter:filterByNumber | filter:{title: searchString} | filter:filterByDueSelector | orderBy:predicate | limitTo: 50)) track by thing.id"
    swipe-right="convertToArchive(thing)"
    swipe-left="convertToMit(thing)"
    swipe-long-right="setDeleted(thing)"
    swipe-long-left="setDone(thing)">
    <div class="content">
      <div class="select">
        <i class="glyphicon" ng-class="{ 'glyphicon-unchecked': !isSelected(thing), 'glyphicon-check': isSelected(thing), 'unchecked': !isSelected(thing) }" ng-click="toggleSelected(thing);"> </i>
      </div>
      <!-- show a complete action; recurring for recurrence things,
           pencil to complete normal things -->
      <div class="complete">
        <span ng-if="thing.recurrence" ng-class="{ 'repeat-fade': completed }" class="repeat">
          <i class="glyphicon glyphicon-repeat" ng-click="setComplete(thing); completed = !completed;"></i>
        </span>
        <span ng-if="!thing.recurrence">
          <i class="glyphicon glyphicon-pencil" ng-class="{ true: 'unchecked' }[thing.complete != 100]" ng-click="setComplete(thing)"></i>
        </span>
      </div>
      <div class="title" ui-sref="thingsThing({id:thing.id})">
        {{ thing.title }}
      </div>
      <div class="recurrence"><span ng-if="thing.recurrence">every {{ thing.recurrence | duration }}</span></div>

      <time ng-if="thing.end" datetime="{{ thing.end | date : 'yyyy-MM-dd' }}">done {{ thing.end | date : 'MMM d yyyy' }}</time>
      <time ng-if="thing.due && !thing.end" datetime="{{ thing.due | date : 'yyyy-MM-dd' : 'UTC' }}">due {{ thing.due | date:'MMM d yyyy':'UTC' }}</time>

      <div class="description" ng-if="thing.description">{{ thing.description }}</div>

      <div class="contexts">
        <b ng-if="thing.contexts" ng-repeat="context in thing.contexts">@{{context}}{{$last ? '' : ', '}}</b>
      </div>
      <div class="importance" ng-if="thing.importance">
        I:{{thing.importance}}
      </div>
      <div class="urgency" ng-if="thing.urgency">
        U:{{thing.urgency}}
      </div>
      <div class="projects">
        <b ng-if="thing.projects" ng-repeat="project in thing.projects">p:{{project}}{{$last ? '' : ', '}}</b>
      </div>
    </div>
  </bp-cell>
</bp-table>

<form ng-if="saveListActive" ng-submit="saveList(thingList); saveListActive = false;" name="listInput">
  <bp-search>
    <input
      ng-model="thingList"
      placeholder=" Enter your list name here">
  </bp-search>
</form>

<!-- can't get glyphicons to work here
<bp-toolbar>
  <bp-action ng-click="saveListActive = !saveListActive" class="glyphicon glyphicon-list">  </bp-action>
  <bp-action ng-click="filterActive = !filterActive" class="glyphicon glyphicon-filter">  </bp-action>
</bp-toolbar>
-->

<div class="btn-group btn-group-toolbar btn-group-lg">
  <button type="button" ng-click="saveListActive = !saveListActive" class="glyphicon glyphicon-list btn-lg"> save</button>
  <button type="button" ng-click="filterActive = !filterActive" class="glyphicon glyphicon-filter btn-lg"> filter</button>
  <button type="button" ng-click="sortActive = !sortActive" class="glyphicon glyphicon-sort btn-lg"> order</button>
  <button type="button" ng-click="selectAll()" class="glyphicon glyphicon-font btn-lg"> <span ng-if="selectedAll">un</span>select all</button>
</div>

<bp-tabbar tab-bar class="things">
</bp-tabbar>
