<bp-navbar-config ng-class="{lists: lists, br: br}">
  <bp-action
    ng-class="{active: lists}"
    ng-click="handle(convertToMit(thing))"
    class="bp-icon lists fa-list-ol">
    Convert to most important things
  </bp-action>
  <bp-action
    ng-class="{active: br}"
    ng-click="handle(convertToBr(thing))"
    class="bp-icon br fa-calendar">
    Convert to big rock
  </bp-action>
  <bp-action
    ng-class="{active: inbox}"
    ng-click="handle(convertToInbox(thing))"
    class="bp-icon inbox fa-inbox">
    Inbox
  </bp-action>
  <bp-action
    ng-click="handle(setDone(thing))"
    class="bp-icon do fa-check">
    Done
  </bp-action>
  <bp-action
    ng-click="handle(setDeleted(thing))"
    class="bp-icon delete fa-times">
    Delete
  </bp-action>
</bp-navbar-config>

  <div>
    <span>
      <span tag-list ng-controller="TagListController as cl" type="context" all="false" data="contexts" active="contextsActive"></span>
      <span tag-list ng-controller="TagListController as pl" type="project" all="false" data="projects" active="projectsActive"></span>

      <span number-list ng-controller="NumberListController as il" type="importance" all="false" data="importance" active="importanceActive" multiple="false"></span>
      <span number-list ng-controller="NumberListController as ul" type="urgency" all="false" data="urgency" active="urgencyActive" multiple="false"></span>

    </span>


  </div>


<bp-table ng-controller="ThingController" bp-scroll>
  <form>
    <bp-table-header>

      <button ng-if="thing.createdAt">
        Created {{ thing.createdAt | date : 'MMM d yyyy' }}
      </button>

      <span
        ng-if="thing.due && !thing.end && mit"
        ng-pluralize
        count="{{ unit | unitsOff: thing.due : thing.date }}"
        when="{
          0: '– due today',
          'one': '– due tomorrow',
          'other': '– due in {} days'
        }">
      </span>
      <span
        ng-if="thing.due && !thing.end && br"
        ng-pluralize
        count="{{ unit | unitsOff: thing.due : thing.date }}"
        when="{
          0: '– due this week',
          'one': '– due next week',
          'other': '– due in {} weeks'
        }">
      </span>
      <div class="dropdown" ng-class="{open: open}">
        <a class="dropdown-toggle btn btn-danger" ng-click="open = !open; update();">
          Due date: {{ due | date }}
        </a>
        <div class="dropdown-menu" ng-click="update()">
          <div date-picker="due" max-view="year" min-view="date">
          </div>
        </div>
      </div>

    </bp-table-header>
    <bp-cell>
      <input
        type="text"
        ng-model="title"
        ng-model-options="{ updateOn: 'blur' }"
        ng-blur="update()"
        ng-change="update()"
        ng-keyup="cancel($event)" />
    </bp-cell>
    <bp-cell class="multiline">
      <textarea
        rows="16"
        msd-elastic
        placeholder="Thing description…"
        ng-model="thing.description"
        ng-blur="update()"
        ng-change="update()">
      </textarea>
    </bp-cell>
  </form>
</bp-table>
