<!-- app/templates/numberlist.html start -->
<div class="btn-group btn-group-{{type}} btn-group-sm">
  <md-button class="number-button" ng-class="{ 'md-raised md-primary': selectedAll }"
             ng-click="clear();">{{typeletter}}</md-button>
  <md-button class="number-button" ng-repeat="number in [ '1', '2', '3', '4', '5']" type="button" class="btn btn-default" ng-class="{ 'md-raised md-primary': active[number].active }" ng-click="toggle(number);">{{ number }}</md button>
</div>
<!-- app/templates/numberlist.html end -->
