<div class="btn-group {{type}}s-dropdown" dropdown ng-class="{open: open}">
  <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled" ng-click="open=!open">
    <span class="badge">{{ getActiveCount() }}</span>
    {{ type }}s <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" ng-class="{ true: 'dropdown-menu-right' }[type == 'project']" role="menu">
    <li ng-show="showAll" ng-class="{ 'active': selectedAll }"><a href="" ng-click="clear();">All {{ type }}s</a></li>
    <li ng-show="showAll" class="divider"></li>
    <li ng-repeat="tag in tags|orderBy:name" ng-class="{ 'active': active[tag.name].active}">
      <a href="" ng-click="toggle(tag.name);">{{ tag.name }}
      <span class="badge pull-right">{{ getTotalCount(tag.name) }}</span></a>
    </li>
  </ul>
</div>
