<!-- app/templates/taglist.html start -->
<md-menu ng-attr-md-position-mode="{{
           type == 'context' ? undef : 'target-right target' }}">

  <md-button class="md-raised" aria-label="Open {{type}}"
             ng-click="$mdOpenMenu($event)">

    <span class="badge">{{ getActiveCount() }}</span> of {{ getTotalCount() }}
    <ng-pluralize count="getTotalCount()"
                  when="{
                    '0': '{{ type }}s',
                    'one': '{{ type }}',
                    'other': '{{ type}}s'
                  }">
    </ng-pluralize>
  </md-button>
  <md-menu-content width="4">
    <!-- show 'all ...' and a divider if asked to -->
    <md-menu-item ng-show="showAll">
      <md-button ng-class="{ 'md-raised md-primary': selectedAll }"
                 ng-click="clear();">All {{ type }}s</md-button>
    </md-menu-item>
    <md-menu-divider ng-show="showAll"></md-menu-divider>
    <!-- show each of the tags, and a count of things -->
    <md-menu-item ng-repeat="tag in tags|orderBy:name">
      <md-button ng-class="{ 'md-raised md-primary': active[tag.name].active}"
                ng-click="toggle(tag.name);">{{ tag.name }}
        <span flex=""></span><!-- makes the number to the right of menu -->
        <span>{{ getTotalCount(tag.name) }}</span>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
<!-- app/templates/taglist.html end -->
